 
THE README OF THE UNIVERSE AND EVERYTHING

1. Shares across multiple Communities or posts which belong in personal streams will be automatically deleted as spam.

2. Shares containing information about Arch Linux Derivatives including but not limited to Cinnarch will be deleted if they do not contain information directly relative to Vanilla Arch Linux repositories.

3. Shares involving invites to other communities will be marked as spam by Google and will be auto deleted.

4. All content that is explicitly related to something completely other than Arch Linux will be rightfully deleted as spam and the account generating this will be banned upon continuing these posts (No cats, unless they are dressed in Arch Linux sweaters).

5. Sharing to an incorrect category will be moved and unfortunately, the only way to do that is by moving which deletes all comments, do not post to incorrect category next time.

6. The Offtopic category will be used for only loosely related posts to Arch Linux, but not things completely unrelated, or repeated from other communities or streams.

7. Shameless self promotion of content unrelated to Arch Linux, or personal projects with Arch Linux that do not contribute to the community will be deleted as spam. Guides, problem-solving, requesting ideas or pretty much anything which is related to Arch Linux itself will be allowed.

8. Shares to this README category will be deleted on sight by Moderators, you have been warned.