THE README OF THE LIFE, THE UNIVERSE, AND EVERYTHING:

1. Shares across multiple Communities or posts which belong in personal streams
will be automatically deleted as spam.

2. Shares involving invites to other communities will be closly monitored. If the share is deemed relevant then it will be left but if it is deemed as unrelated to our community it will be removed without further notification.

3. All content that is explicitly related to something completely other than
Linux advocacy will be rightfully deleted as spam and the account generating this
will be banned upon continuing these posts (No cats, unless they are dressed in
Linux advocating sweaters).

4. Sharing to an incorrect category will be moved and unfortunately, the only
way to do that is by moving which deletes all comments, do not post to incorrect
category next time.

5. The Offtopic category will be used for only loosely related posts to Linux, but not things completely unrelated, or repeated from other communities
or streams.

6. Shameless self promotion of content unrelated to Linux, or personal
projects with Linux that do not contribute to the community will be deleted
as spam. Guides, problem-solving, requesting ideas or pretty much anything which
is related to Linux advocacy will be allowed.

7. There will be occasions when news related to Microsoft, Apple, or other tech companies in general seem to relate to something our community would be interested in talking about. Please do feel free to share these but be mindful of the community zeitgeist, if the posts are too far off topic they will be removed. 

8. Shares to this README category will be deleted on sight by Moderators, you
have been warned.

9. Always remember Wil Wheaton’s Law.